#popup-container {
    background: rgba(255, 222, 145, .93) !important;
}

#yellow-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
}

#yellow-container div#content {
    /* color: green; */
    font-size: 2rem;
}

.yellow-img {
    height: 50%;
}

.katex {
    font-family: "Prompt", sans-serif !important;
    font-size: 2rem !important;
    line-height: 5rem !important;
}
.katex .mathnormal {
    font-family: "Prompt", sans-serif !important;
    font-size: 2rem !important;
    line-height: 5rem;
}