.formular-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* border: 1px solid black; */
}

.mini-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* border: 1px solid red; */
}

.mini-box p {
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid red;
    padding: 10px;
}

.answer-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 706px;
    width: 100%;
    min-height: 139px;
    height: 100%;
    /* background-color: #D9D9D9; */
}